//! **************************************************************************
// Written by: Map P.20131013 on Tue Oct 15 20:51:55 2019
//! **************************************************************************

SCHEMATIC START;
COMP "S1" LOCATE = SITE "AA10" LEVEL 1;
COMP "S2" LOCATE = SITE "AB10" LEVEL 1;
COMP "S3" LOCATE = SITE "AA13" LEVEL 1;
COMP "F" LOCATE = SITE "W23" LEVEL 1;
SCHEMATIC END;

