NET"F"LOC=U21 | IOSTANDARD=LVCMOS33;

NET"S1"LOC=AE13 | IOSTANDARD=LVCMOS15;
NET"S2"LOC=AF13 | IOSTANDARD=LVCMOS15;
NET"S3"LOC=AF10 | IOSTANDARD=LVCMOS15;

NET"G"LOC=AF8 | IOSTANDARD=LVCMOS15;
NET"G2A"LOC=AE8 | IOSTANDARD=LVCMOS15;
NET"G2B"LOC=AF12 | IOSTANDARD=LVCMOS15;
