//! **************************************************************************
// Written by: Map P.20131013 on Thu Dec 01 13:13:51 2016
//! **************************************************************************

SCHEMATIC START;
COMP "BTN_X<4>" LOCATE = SITE "W16" LEVEL 1;
COMP "BTN_X<3>" LOCATE = SITE "W15" LEVEL 1;
COMP "BTN_X<2>" LOCATE = SITE "W19" LEVEL 1;
COMP "BTN_X<1>" LOCATE = SITE "W18" LEVEL 1;
COMP "BTN_X<0>" LOCATE = SITE "V17" LEVEL 1;
COMP "hs" LOCATE = SITE "M22" LEVEL 1;
COMP "vs" LOCATE = SITE "M21" LEVEL 1;
COMP "SEGLED_CLK" LOCATE = SITE "M24" LEVEL 1;
COMP "SEGLED_CLR" LOCATE = SITE "M20" LEVEL 1;
COMP "r<0>" LOCATE = SITE "N21" LEVEL 1;
COMP "r<1>" LOCATE = SITE "N22" LEVEL 1;
COMP "r<2>" LOCATE = SITE "R21" LEVEL 1;
COMP "r<3>" LOCATE = SITE "P21" LEVEL 1;
COMP "LED_PEN" LOCATE = SITE "P18" LEVEL 1;
COMP "buzzer" LOCATE = SITE "AF24" LEVEL 1;
COMP "BTN_Y<3>" LOCATE = SITE "W14" LEVEL 1;
COMP "BTN_Y<2>" LOCATE = SITE "V14" LEVEL 1;
COMP "BTN_Y<1>" LOCATE = SITE "V19" LEVEL 1;
COMP "BTN_Y<0>" LOCATE = SITE "V18" LEVEL 1;
COMP "clk" LOCATE = SITE "AC18" LEVEL 1;
COMP "b<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "b<1>" LOCATE = SITE "R20" LEVEL 1;
COMP "b<2>" LOCATE = SITE "T22" LEVEL 1;
COMP "b<3>" LOCATE = SITE "T23" LEVEL 1;
COMP "SW<10>" LOCATE = SITE "AF12" LEVEL 1;
COMP "SW<11>" LOCATE = SITE "AE8" LEVEL 1;
COMP "SW<12>" LOCATE = SITE "AF8" LEVEL 1;
COMP "SW<13>" LOCATE = SITE "AE13" LEVEL 1;
COMP "SW<14>" LOCATE = SITE "AF13" LEVEL 1;
COMP "SW<15>" LOCATE = SITE "AF10" LEVEL 1;
COMP "SEGLED_PEN" LOCATE = SITE "R18" LEVEL 1;
COMP "g<0>" LOCATE = SITE "R22" LEVEL 1;
COMP "g<1>" LOCATE = SITE "R23" LEVEL 1;
COMP "g<2>" LOCATE = SITE "T24" LEVEL 1;
COMP "g<3>" LOCATE = SITE "T25" LEVEL 1;
COMP "SW<0>" LOCATE = SITE "AA10" LEVEL 1;
COMP "SW<1>" LOCATE = SITE "AB10" LEVEL 1;
COMP "SW<2>" LOCATE = SITE "AA13" LEVEL 1;
COMP "rstn" LOCATE = SITE "W13" LEVEL 1;
COMP "SW<3>" LOCATE = SITE "AA12" LEVEL 1;
COMP "SW<4>" LOCATE = SITE "Y13" LEVEL 1;
COMP "SW<5>" LOCATE = SITE "Y12" LEVEL 1;
COMP "SW<6>" LOCATE = SITE "AD11" LEVEL 1;
COMP "SW<7>" LOCATE = SITE "AD10" LEVEL 1;
COMP "SW<8>" LOCATE = SITE "AE10" LEVEL 1;
COMP "SW<9>" LOCATE = SITE "AE12" LEVEL 1;
COMP "LED_DO" LOCATE = SITE "M26" LEVEL 1;
COMP "SEGLED_DO" LOCATE = SITE "L24" LEVEL 1;
COMP "LED_CLR" LOCATE = SITE "N24" LEVEL 1;
COMP "LED_CLK" LOCATE = SITE "N26" LEVEL 1;
SCHEMATIC END;

